[Unit]
Description=Bitquant servers
After=httpd.service

[Service]
Type=forking
WorkingDirectory=/home/%USER%/git/bitquant/web/scripts
User=%USER%
Group=%GROUP%
ExecStop=/home/%USER%/git/bitquant/web/scripts/shutdown.sh
ExecStart=/home/%USER%/git/bitquant/web/scripts/startup.sh


[Install]
WantedBy=multi-user.target
