<footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy;  2015 - Jerry Deng.</p>
      </div>
</footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>