<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<!-- Bootstrap -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="/bower_components/requirejs/require.js"></script>
</head>
<body screen_capture_injected="true">
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= title %></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li <% if (page_name === 'index') { %>class="active" <% } %>><a href="/">Home</a></li>
        <li <% if (page_name === 'contacts') { %>class="active" <% } %>><a href="#">Contracts</a></li>
        <li <% if (page_name === 'samples') { %>class="active" <% } %>><a href="/samples">Samples</a></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users/sign_up">Sign Up</a></li>
        <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Login <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <% include login %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</nav>