<% include header %>
<div class="container">
	<div class="jumbotron">
	  <h3>Welcome to <%= title %></h3>
	  <p>Smart contracts are computer protocols that facilitate, verify, or enforce the negotiation or performance of a contract, or that obviate the need for a contractual clause. Smart contracts usually also have a user interface and often emulate the logic of contractual clauses. Proponents of smart contracts claim that many kinds of contractual clauses may thus be made partially or fully self-executing, self-enforcing, or both. Smart contracts aim to provide security superior to traditional contract law and to reduce other transaction costs associated with contracting.</p>
	  <p><a class="btn btn-primary btn-lg" target="_blank" href="http://en.wikipedia.org/wiki/Smart_contract" role="button">Learn more</a></p>
	</div>
</div>
<% include footer %>