<% include header %>
<div class="container">
	<div class="jumbotron subhead" id="overview">
	 <h1>Samples</h1>
	 <p class="lead">Overview of the samples and its contents, and get ready to make your own smart contract.</p>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3><a href="#">Credit Line</a></h3>
			<p>A credit limit is the maximum amount of credit that a financial institution or other lender will extend to a debtor for a particular line of credit.</p>
			<a href="/samples/contract-sample/credit-line" class="btn btn-default">Read More</a>
		</div>
		<div class="col-md-4">
			<h3><a href="#">Loan</a></h3>
			<p>The Lender has agreed to provide the Borrower with an unsecured term loan facility according to the terms specified in the contract</p>
			<a href="/samples/contract-sample/loan" class="btn btn-default">Read More</a>
		</div>
		<div class="col-md-4">
			<h3><a href="#">Profit Sharing</a></h3>
			<p>The investor as settlor has agreed to provide the manager as trustee funds of the purpose of managing investment into a named real property.  The trustee agrees to handle the funds according to the terms of this agreement benefit of the beneficiary.</p>
			<a href="/samples/contract-sample/profit-share" class="btn btn-default">Read More</a>
		</div>
	</div>
</div>
<% include footer %>