[Unit]
Description=Bitquant servers
After=httpd.service

[Service]
Type=forking
WorkingDirectory=/home/%USER%/git/bitquant/web
User=%USER%
Group=%GROUP%
ExecStop=/home/%USER%/git/bitquant/web/shutdown.sh
ExecStart=/home/%USER%/git/bitquant/web/startup.sh


[Install]
WantedBy=multi-user.target
